body{
	border: 10px solid white;
}


.text-vert{
	padding-top: 35vh;
	padding-bottom: 35vh;
}


#first {
    background-color: #3369FF;
}

#welcome {
    text-align: center;
    font-size: 60px;
    padding-bottom: 20px;
}
