a:link,
a:hover,
a:visited {
    text-decoration: none;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

a:hover .fa,
.fa {
    color: white;
}

#collapse_button {
    border: 0px;
}

h1 {
    font-family: 'Caveat', cursive !important;
}

#first {
    background-color: #3F51B5;
    /*padding-right: none;*/
    /*padding-left: none;*/
    /*height: 100vh;*/
    width: 100vw;
}

#second {
    background-color: #000000;
    height: 100vh;
    width: 100vw;
    /*width: 100vw;*/
}

#text-1{
	 font-family: "Segoe UI";
}

@media only screen and (min-width: 800px) {
    body{
    	overflow: hidden;
    }
    #first {
        height: 100vh;
    }
    #text-1{
    	padding-top: 100px;
    }
}

@media only screen and (max-width: 600px) {
    #first {
        /*height: 100vh;*/
    }
    img {
        display: inline-block;
        position: relative;
        left: -50px;
        height: 300px;
        width: 300px;
    }
}

@media only screen and (max-width: 400px) {
    #first {
        height: 100vh;
    }
    img {
        /*display: inline-block;*/
        position: relative;
        left: -50px;
        height: 250px;
        width: 250px;
    }
    .cd-intro {
        margin-top: 0px !important;
        margin-bottom: 20px !important;
    }
    .love_to {
        font-size: 75%;
    }
    p {
        padding-top: 1px !important;
    }
}

@media only screen and (max-width: 200px) {
    .navi {
        /*font-size: 75%;*/
    }
    img {
        display: inline-block;
        position: relative;
        /*left:-50px;*/
        height: 150px;
        width: 150px;
    }
    .love_to {
        font-size: 45%;
    }
    p {
        padding-top: 20px !important;
    }
}

.navbar {
    background: #303F9F;
    /*font-family: */
    border-bottom: 2px solid #F1F1F1;
}

#hoveronme_ka_div {
    position: absolute;
    /*left:50px;*/
    /*top:20px;*/
    /*visibility: hidden;*/
}

#icon_chevron {
    -webkit-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}
